<div class="callChat">
    <div class="callChat-top">
        <img src="{{ 'phone-call.svg' | asset_url}}"/>
        <div class="callChat-text">
            <h3>Got questions?</h3>
            <h4>Chat with our customer service or talk with our Specialists.</h4>
        </div>
    </div>
    <div class="callChat-bottom">
        <div class="call-us">
            <h4>Call us</h4>
        </div>
        <div class="chat-support">
            <h4>Chat support</h4>
        </div>
</div>