{%- assign collection_title = collection.title -%}
{%- assign collection_description = collection.description -%}
{%- assign collection_image = collection.image -%}

<section class="collectionHero section">
  <div class="collectionHero__overlay">
      <h2 class="collection_title">{{ collection_title }}</h2>
      <div class="collectionHero_description">
       <input type="checkbox" class="read-more-state" id="collection-description-span"/>
        <p class="read-more-wrap">{{ collection_description }}</p>
         <label for="collection-description-span" class="read-more-trigger"></label>
      </div>
  </div> 
  {% include 'breadcrumb' %}
</section>

