<div class="signupForm" style="margin: 20px auto 80px">
<span> By providing your email address, you agree to our <a href="/pages/heyer-privacy-policy"> Privacy Policy </a> and <a href=""> Terms of Service.</a>
</div>
