<div class="footer-bar-left">
      {% for link in linklists.footer-bar.links %}
         <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
</div>
<div class="footer-bar-right">
      <a class="footer-bar-right-desktop" href=""> Questions? +45 26 22 52 06 </a>
      <img class="b-corp footer-bar-right-mobile lazy" data-src="{{ 'b-corp.svg'| asset_url}}"/>
</div>
