<div class="footer-bar-left">
      <a href=""> © 2020 HEYER. All Rights Reserved. </a>
      <a href=""> Privacy Policy </a>
      <a href=""> Terms & Conditions </a>
      <a href=""> ESG Policy </a>
</div>
<div class="footer-bar-right">
      <a href=""> Questions? +45 26 22 52 06 </a>
</div>
