<div class="footer-bar-left">
      {% for link in linklists.footer-bar.links %}
         <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
</div>
<div class="footer-bar-right">
      <a href=""> Questions? +45 26 22 52 06 </a>
</div>
