<section class="container">
<div class="heyerlifeFooter">
    <img src="{{ 'heyer-bag.svg' | | asset_url }}"/>
    <h2>Help bring unforgettable experiences</h2>
    <p>We're looking for smart, driven individuals who are ready to bring new ideas with our team. <br>
       Join us in our offices in Copenhagen.</p>
    <a class="button button-transparent" style="border: solid 0.1px #4c4c4b" href="https://thehub.io/startups/heyer">Open Positions</a>
</div>
</section>