<div class="productInfo">
    <div class="productInfo-left">
        <div class="productInfo-features"><h4>Features</h4></div>
        <div class="productInfo-sizing"><h4>Sizing</h4></div>
    </div>
    <div class="productInfo-right">
        <div class="productInfo-materials"><h4>Materials</h4></div>
        <div class="productInfo-personalisation"><h4>Personalisation</h4></div>
    </div>

    {%comment%} Slide in modal {%endcomment%}
    <div class="modal hide" id="featuresModal">
        <div class="modal-small modal_container" id="featuresContainer">
        <div class="features_close modal_close"></div>
          <div class="modal-container-wrapper">       
          {{ product.metafields["global"]["product-features"] }}     
          </div>
        </div>
    </div>
    <div class="modal hide" id="sizingModal">
        <div class="modal-small modal_container" id="sizingContainer">
        <div class="sizing_close modal_close"></div>
          <div class="modal-container-wrapper">       
          {{ product.metafields["global"]["product-sizing"] }}     
          </div>
        </div>
    </div>
    <div class="modal hide" id="materialModal">
        <div class="modal-small modal_container" id="materialContainer">
        <div class="material_close modal_close"></div>
          <div class="modal-container-wrapper">       
          {{ product.metafields["global"]["product-materials"] }}     
          </div>
        </div>
    </div>
    <div class="modal hide" id="personaliseModal">
        <div class="modal-small modal_container" id="personaliseContainer">
        <div class="personalise_close modal_close"></div>
          <div class="modal-container-wrapper">       
          {{ product.metafields["global"]["product-personalisation"] }}    
          </div>
        </div>
    </div>
</div>

<script>
document.querySelector(".productInfo-features").addEventListener("click", openModalFeatures);
document.querySelector(".productInfo-sizing").addEventListener("click", openModalSize);
document.querySelector(".productInfo-materials").addEventListener("click", openModalMaterial);
document.querySelector(".productInfo-personalisation").addEventListener("click", openModalPersonalise);

function openModalFeatures(){
  document.querySelector("#featuresModal").classList.remove("hide");
  document.querySelector("#featuresContainer").classList.add("slide-in")
  document.querySelector("#featuresModal").addEventListener("click", closeModalFeatures);
  document.querySelector(".features_close").addEventListener("click", closeModalFeatures);
}

function closeModalFeatures(){
  document.querySelector("#featuresModal").classList.add("hide");
}

function openModalSize(){
  document.querySelector("#sizingModal").classList.remove("hide");
  document.querySelector("#sizingContainer").classList.add("slide-in")
  document.querySelector("#sizingModal").addEventListener("click", closeModalSize);
  document.querySelector(".sizing_close").addEventListener("click", closeModalSize);
}

function closeModalSize(){
  document.querySelector("#sizingModal").classList.add("hide");
}

function openModalMaterial(){
  document.querySelector("#materialModal").classList.remove("hide");
  document.querySelector("#materialContainer").classList.add("slide-in")
  document.querySelector("#materialModal").addEventListener("click", closeModalMaterial);
  document.querySelector(".material_close").addEventListener("click", closeModalMaterial);
}

function closeModalMaterial(){
  document.querySelector("#materialModal").classList.add("hide");
}

function openModalPersonalise(){
  document.querySelector("#personaliseModal").classList.remove("hide");
  document.querySelector("#personaliseContainer").classList.add("slide-in")
  document.querySelector("#personaliseModal").addEventListener("click", closeModalPersonalise);
  document.querySelector(".personalise_close").addEventListener("click", closeModalPersonalise);
}

function closeModalPersonalise(){
  document.querySelector("#personaliseModal").classList.add("hide");
}

</script>