<ul>
{% for image in product.images %}
    <li>  
       <a class="example-image-link" href="{{ image | product_img_url: '1024x1024', scale: 2}}" data-lightbox="example-set">
        <img class="example-image" src="{{ image | product_img_url: 'master'}}" alt="{{ image.alt | escape }}"/>
        </a>
    </li>
{% endfor %}
</ul>
