<div class="someWrapper">
    <a href=""><img data-src="{{'pinterest-color.svg'| asset_url}}" class="lazy"/></a>
    <a href=""><img data-src="{{'facebook-color.svg'| asset_url}}" class="lazy"/></a>
    <a href=""><img data-src="{{'instagram-color.svg'| asset_url}}" class="lazy"/></a>
</div>