<div class="someWrapper">
    <a href=""><img src="{{'pinterest.svg'| asset_url}}"/></a>
    <a href=""><img src="{{'facebook.svg'| asset_url}}"/></a>
    <a href=""><img src="{{'instagram.svg'| asset_url}}"/></a>
</div>