<div class="someWrapper">
    <a href=""><img src="{{'pinterest-color.svg'| asset_url}}"/></a>
    <a href=""><img src="{{'facebook-color.svg'| asset_url}}"/></a>
    <a href=""><img src="{{'instagram-color.svg'| asset_url}}"/></a>
</div>