<section class="container">
<div class="collectionArticle">
    <div class="collectionArticle-wrapper">
        <div class="collectionArticle__overlay">
            <h2 class="collectionArticle_h2">Sustainably designed, </br> Mindfully Sourced</h2>
            <a class="collectionArticle_a" href="">Read more about our Factories</a>
        </div>
        <img src="{{ 'image-test.jpeg' | asset_url }}">
    </div>
     <div class="collectionArticle-wrapper">
        <div class="collectionArticle__overlay">
            <h2 class="collectionArticle_h2">Designed to stand </br> the Test of Time</h2>
            <a class="collectionArticle_a" href="">Read more about our Design</a>
        </div>
        <img src="{{ 'image-test-2.jpeg' | asset_url }}">
    </div>
</div>
<div class="collectionArticle-text">
<input type="checkbox" class="read-more-state" id="collection-text-span"/>
    <p class="read-more-wrap">
    Discover new arrivals; created with a sustainable design approach, made for the modern wardrobe. From essential  and to understated  and the latest. Made from sustainably sourced materials such as organic cotton and Tencel™ lyocell, uncover updated classics designs for everyday in our latest collection for this season.Discover new arrivals; created with a sustainable design approach, made for the modern wardrobe. From essential  and to understated  and the latest. Made from sustainably sourced materials such as organic cotton and Tencel™ lyocell, uncover updated classics designs for everyday in our latest collection for this season.
    <span class="read-more-target">
    Discover new arrivals; created with a sustainable design approach, made for the modern wardrobe.
    </span>
    </p>
 <label for="collection-text-span" class="read-more-trigger"></label>
</div>
<section>