{% assign section_settings = section.settings  %}
{% assign design_heading = section_settings.design_heading %}
{% assign design_image = section_settings.design_image %}

<section class="designBanner">
{% if design_image != blank%}
<img data-src="{{ design_image | img_url: 'master' }}" class="lazy"/>
{%else%}
<video autoplay loop autobuffer muted playsinline width="100%" style="position: relative" class="lazy">
  <source data-src="https://cdn.shopify.com/s/files/1/0274/8609/3447/files/sustainability-video.mp4?v=1602149125" type="video/mp4">
</video>
{% endif %}
<div class="designBanner_overlay">
    <h1>{{design_heading}}</h1>
</div>
</section>

{% schema %}
    {
        "name": "Design Banner",
        "settings": [
            {
                "type": "header",
                "content": "Video Banner"
            },
            {
                "type": "textarea",
                "id": "design_heading",
                "label": "Heading"
            },
            {
                "type": "image_picker",
                "id": "design_image",
                "label": "Banner Image"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "design banner",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}