{% assign section_settings = section.settings  %}
{% assign helpfaq_heading = section_settings.helpfaq_heading %}
{% assign helpfaq_description = section_settings.helpfaq_description %}

<section class="container">
    <div class="helpCenter-header">
        <h2 class="helpCenter-h2"> {{helpfaq_heading}} </h2>
        <div class="helpCenter-p">
        {{helpfaq_description}}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Help FAQ",
        "settings": [
            {
                "type": "header",
                "content": "Description"
            },
            {
                "type": "text",
                "id": "helpfaq_heading",
                "label": "Heading"
            },
            {
                "type": "richtext",
                "id": "helpfaq_description",
                "label": "Description"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "help faq",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}