{% assign section_settings = section.settings  %}
{% assign helpcontact_heading = section_settings.helpcontact_heading %}
{% assign helpcontact_description = section_settings.helpcontact_description %}

<section class="container">
    <div class="helpCenter-header">
        <h2 class="helpCenter-h2"> {{helpcontact_heading}} </h2>
        <div class="helpCenter-p">
        {{helpcontact_description}}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Help Contact",
        "settings": [
            {
                "type": "header",
                "content": "Description"
            },
            {
                "type": "text",
                "id": "helpcontact_heading",
                "label": "Heading"
            },
            {
                "type": "richtext",
                "id": "helpcontact_description",
                "label": "Description"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "help contact",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}