<section class="container">
    <div class="orderShipping-header">
        <h2> Orders & Shipping </h2>
        <p>
        Delivery time can vary depending on the courier you have chosen and where you live in the world. As an EU customer, it should take no more than 5 days for you to receive your basics. For orders outside of the EU, depending on the shipping method you choose, delivery can take up to 18 days.
        </p>
    </div>
    <div class="orderShipping-container">
   <h2 class="shipping_country"></h2>
    </div>
</section>

