{% assign section_settings = section.settings  %}
{% assign ordershipping_heading = section_settings.ordershipping_heading %}
{% assign ordershipping_description = section_settings.ordershipping_description %}

<section class="container">
    <div class="helpCenter-header">
        <h2 class="helpCenter-h2"> {{ordershipping_heading}} </h2>
        <div class="helpCenter-p">
            {{ordershipping_description}}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Order & Shipping",
        "settings": [
            {
                "type": "header",
                "content": "Description"
            },
            {
                "type": "text",
                "id": "ordershipping_heading",
                "label": "Heading"
            },
            {
                "type": "richtext",
                "id": "ordershipping_description",
                "label": "Description"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "order & shipping",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}
