{% assign section_settings = section.settings  %}
{% assign page_test = section_settings.page_test %}
<div class="shippingTable-wrapper container" style="background-color: grey; height: 60vh">
{{page_test.title}}
</div>

{% schema %}
    {
        "name": "Order & Shipping",
        "settings": [
            {
                "type": "page",
                "id": "page_test",
                "label": "Description"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "shipping table",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}