{% assign section_settings = section.settings %}
{% assign page_delivery_methods = section_settings.page_test %}

{% comment %} Page create in Shopify with the table. {% endcomment %}
<h1>{{ page_delivery_methods.title}}</h1>

{% schema %}
  {
    "name": "Shipping options",
    "settings": [
      {
        "type": "page",
        "id": "page_test",
        "label": "Page"
      }
    ]
  }
{% endschema %}