{% assign section_setting = section.settings  %}
{% assign title = section_setting.title %}
{% assign subheading = section_setting.subheading %}

<section class="signupForm center-flex">
    <img data-src="{{'fit-sizing.svg' | asset_url}}" class="lazy"/>
    <h2> {{title}} </h2>
    {%if subheading != blank%}
        <p> {{subheading}} </p>
    {%endif%}
</section>

{% schema %}
    {
        "name": "Sign Up Banner",
        "settings": [
            {
                "type": "header",
                "content": "Title & Subtext"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "subheading",
                "label": "Subtext"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "sign up form",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}