<section class="page section">
  <div class="container">
    <header class="page_header">
      <h1 class="page_title">{{ 'general.404.title' | t  }}</h1>
      <p>{{ 'general.404.subtext' | t }}</p>
    </header>
    <div class="page_content text-center">
      <a class="button button-black" href="/">{{ 'general.404.link' | t }}</a>
    </div>  
  </div>
</section>
