<div class="heyerlifeWrapper">
    <div class="blogBanner">
        <h2> Spotlights </h2>
        {% include 'breadcrumb' %}
    </div>
    <section class="section">
        {% section 'blog-heyerlife-template' %}
    </section>
{% include 'heyerlife-footer' %}
</div>