{% include 'collection-hero' with collection %}
<div class="product-list-desktop">
{% section 'products-list-desktop' %}
</div>
<div class="product-list-mobile">
{% section 'products-list' %}
</div>
{% section 'collection-article'%}