<div class="heyerlifeWrapper">
{% section 'heyerlife-banner' %}
{% include 'breadcrumb' %}
{% section 'heyerlife-frontpage-culture' %}
{% section 'heyerlife-blog' %}
{% include 'heyerlife-footer' %}
</div>