<div class="desktop-breadcrumb">{% include 'breadcrumb' %}</div>
<section class="section">
  <div class="container product">
    <div class="product__features-left">
      <div class="desktop-product-images">{% include 'product-images' %}</div>
      <div class="mobile-product-images">{% section 'mobile-product-image' %}</div>
      <div class="mobile-breadcrumb">{% include 'breadcrumb' %}</div>
    </div>
    <div class="product__features-right">
      <div class="product__features-sticky">
        {% section 'product-details' %}
      </div>
    </div>
  </div>
  </div>
   <div class="container product-bottom">
    {% section 'sustainable-index' %}
    {% include 'video-image-layout' %}
    {% section 'influencer-feed' %}
    {% section 'sustainability-video'%}
  </div>
</section>


{% comment %} {% section 'related-products' %} {% endcomment %}
{% include 'product-schema' with product %}

{% include 'yotpo-widget' %}