<section class="section">
  <div class="product">
    <div class="product__features-left">
      <div class="desktop-product-images">{% include 'product-images' %}</div>
      <div class="mobile-product-images">{% section 'mobile-product-image' %}</div>
    </div>
    <div class="product__features-right">
      <div class="product__features-sticky">
        {% section 'product-details' %}
      </div>
    </div>
  </div>
  </div>
   <div class="product-bottom">
    {% section 'sustainable-index' %}
    {% include 'video-image-layout' %}
    {% section 'influencer-feed' %}
    {% section 'sustainability-video'%}
    {% comment %} Flip Blocks {% endcomment %}
    {% include 'flip-block-product' %}
    {% include 'flip-block-video-product' %}
  </div>
</section>

{% include 'stamped-widget' %}

{% comment %} {% section 'related-products' %} {% endcomment %}
{% include 'product-schema' with product %}

