{% include 'breadcrumb' %}

<section class="section">
  <div class="container product">
  <div class="product__features-left">
    {%include 'product-images' with image%}
  </div>
  <div class="product__features-right">
    {% section 'product-details' %}
  </div>
</div>
</section>

{% comment %} {% section 'related-products' %} {% endcomment %}
{% include 'product-schema' with product %}
